[package]
name = "public-funds-payment"   # 公费支出模块
edition.workspace = true
version.workspace = true
authors.workspace = true
repository.workspace = true
license = "MIT"

[dependencies]
codec = { workspace = true }
scale-info = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
primitives = { path = "../../../primitives", default-features = false }
national-institutional-registry = { path = "../../governance/national-institutional-registry", default-features = false }

[dev-dependencies]
sp-io = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
    "codec/std",
    "scale-info/std",
    "frame-support/std",
    "frame-system/std",
    "sp-runtime/std",
    "sp-std/std",
    "primitives/std",
    "national-institutional-registry/std",
]
