[Unit]
Description=CitizenChain Node
After=network.target

[Service]
Type=simple
User=citizenchain
ExecStart=/opt/citizenchain/node \
  --base-path /opt/citizenchain/data \
  --node-key-file /opt/citizenchain/data/node-key/secret_ed25519 \
  --rpc-port 9944 \
  --rpc-methods Unsafe \
  --rpc-cors all \
  --no-prometheus \
  --trie-cache-size 268435456 \
  --listen-addr /ip4/0.0.0.0/tcp/30333/ws
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
