[Unit]
Description=Run CPMS backup daily

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
RandomizedDelaySec=300
Unit=cpms-backup.service

[Install]
WantedBy=timers.target
